@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5% !important; /* 10px */
    max-width: 100% !important;
}

body {
    font-size: 1.6rem !important;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    height: 100vh;
}

header {
    background-color: #003cff;
    padding: 1rem 2rem;
    min-height: 11vh;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
li {
    display: inline;
    margin-right: 20px;
    padding: 0 2rem;
}
  
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
}
  
a:hover {
    color: #00eaff;
    transition: .3s ease-in-out;
}
  
h1, h2 {
    margin-top: 3rem;
    text-align: center;
}

h1#notFound {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 30vw;
    margin: 3rem auto;
}

p#rota {
    text-align: center;
    font-size: 2rem;
}

form {
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: .4rem;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 1.5rem;
    border: 2px solid #003cffaa;
    border-radius: .4rem;
    font-size: 1.6rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: 0;
}

button, .btn-back {
    background-color: #003cff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, .btn-back:hover {
    background-color: #0077ff;
    transition: .3s ease-in-out;
}

.p-mb {
    margin: 5rem;
    text-align: center;
    font-size: 2.5rem;
}

.btn-back {
    margin-left: 10rem;
}

table#list-visitors{
    margin: 50px auto;
    width: 60vw;
    border-collapse: collapse;
}

th{
    background-color: #003cff;
    color: white;
    width: 25vw;
    padding: 10px;
}

tr{
    background-color: white;
}

tr:hover{
    background-color: #cdcdcd;
}

tr:nth-child(even){
    background-color: aliceblue;
}

tr:nth-child(even):hover{
    background-color: #cdcdcd;
}

td{
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

/*********** Stars **************/

.rating {
    display: flex;
    padding: 2rem 0rem;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 100;
}

.rating input:checked+label,
.rating input:checked~label {
    color: rgb(233, 233, 17);
}

.rating>label {
    position: relative;
    font-size: 4rem;
    color: yellow;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    content: "\2605";
    position: absolute;
}

.rating>label:before {
    content: "\2606";
    position: absolute;
}